spring.application.name=zauction
spring.profiles.active=

security.cors-origin=*
security.api-header=X-API-KEY
security.api-secret=mySecretApi
security.cookie-name=Authorization
security.cookie-validity=43200